
<div class="panel panel-info" id="location_media">
    <div class="panel-heading">Create your image Gallery for <span id="location"></span></div>
    <div class="panel-body">
        <div class="row">

            <div id="dz-ImageLocation"></img>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <i class="fa fa-sticky-note-o" aria-hidden="true">Notes</i>
            <div id="notes"></div>
        </div>
    </div>
    </div>
</div>
