<div class="panel panel-primary">
    <div class="panel-heading">My favorite locations
        <button type="button" style="margin-left:10px;" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addpoint">Add location</button>
        <button class="btn btn-warning btn-xs" id="center">Center Map</button>
    </div>
    <div class="panel-body"  id="mapPoints" style="max-height: 500px;overflow-y: scroll;"></div>
</div>