{% extends 'base.html.twig' %}

{% block title %}New Travel{% endblock %}

{% block header_js %}
    <script type="text/javascript" src="{{ google_maps }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Add Travel</h3>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="root"></div>
    </div>

{% endblock %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}