{# src/AppBunle/Resources/views/Travel/routePanel.html.twig #}

<div class="panel panel-info">
    <div class="panel-heading">Route to points  <button class="btn btn-warning  btn-xs" id="itinerary">Hide/Show Itinerary</button></div>
    <div class="panel-body"  id="routePoints" style="max-height: 500px;overflow-y: scroll;"></div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" id="calculate-route">Calcula</button>
        <button class="btn btn-danger" id="remove-route">Remove route</button>
        <button class="btn btn-danger" id="reset">Reset</button>
    </div>
</div>