services:
  app:
    platform: linux/amd64
    build:
      context: ${PWD}/Docker
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ${PWD}:/var/www/html
      - ./Docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./Docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
    environment:
      - MYSQL_HOST
      - MYSQL_USER
      - MYSQL_PASSWORD
      - DISPLAY_ERRORS
      - WAIT_COMMAND
      - WAIT_START_CMD
      - WAIT_SLEEP
      - WAIT_LOOPS
      - PHP_EXTENSION_XDEBUG:1
      - ENABLE_XDEBUG=1
      - XDEBUG_REMOTE_HOST=${DOCKER_HOST_IP:-localhost}
    depends_on:
      - mysql
      - elasticsearch
    #command: sh /var/www/html/Docker/wait_to_start.sh

  mysql:
    image: mysql:5.7
    platform: linux/amd64
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ${PWD}/Docker/migrations:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - mysql

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.7.1
    container_name: elasticsearch
    environment:
      - CLI_JAVA_OPTS=-Xms2g -Xmx2g
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
    ports:
      - "9201:9200"
    ulimits:
      memlock:
          soft: -1
          hard: -1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:9200"]
      interval: 30s
      timeout: 10s
      retries: 5


