{# src/AppBunle/Resources/views/Travel/routePanel.html.twig #}

<div class="panel panel-info">
    <div class="panel-heading">Tracks panel <button class="btn btn-warning  btn-xs" id="tracks">Hide/Show</button></div>
    <div class="panel-body"  id="tracks" style="max-height: 500px;overflow-y: scroll;">


    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary" id="calculate-route">Show</button>
    </div>
</div>