{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" ng-app="ShowTravelsApp">
        <div class="row" ng-controller="travelController">
            <h1>{{ 'MyMaps'|trans }}</h1>
            <h2>{{ 'Welcome'|trans }}</h2>
                <div id="root" data-param="{{ token }}"></div>
        </div>

    </div>
{%  endblock %}
